<nz-root>

  
  <!--组件控制器,数据驱动, IDE支持, -->
  <k-dynamic *ngIf="config" [config]="config"></k-dynamic>

  
  <!--
  <input [(ngModel)]="config.ideHelp.selected.config.id" *ngIf="config && config.ideHelp && config.ideHelp.selected"> 

  <button (click)="addConfig()">add</button>
 
  
  <div *ngIf="config && config.ideHelp">
    <p *ngIf="config.ideHelp.preAdd">preAdd:{{config.ideHelp.preAdd.id}}</p>
    <p *ngIf="config.ideHelp.targetElement">target:{{config.ideHelp.targetElement.config.id}}</p>
  </div>

 -->
  <k-ide-selected *ngIf="config && config.ideHelp" [ideHelper]="config.ideHelp"></k-ide-selected>
  <k-ide-hover *ngIf="config && config.ideHelp" [ideHelper]="config.ideHelp"></k-ide-hover>
  <k-ide-drag *ngIf="config && config.ideHelp" [ideHelper]="config.ideHelp"></k-ide-drag>
  <k-ide-pre-add *ngIf="config && config.ideHelp" [ideHelper]="config.ideHelp"></k-ide-pre-add>
  
</nz-root>
